.versenum,
.nonversenum {
  font-size: 0.75em;
  font-weight: bold;
  line-height: 0;
  margin-right: 0.15em;
  position: relative;
  top: -0.4em;
  vertical-align: baseline;
}

.selah {
  font-style: italic;
  padding-left: 16em;
}

.span.JesusWords {
  color: #ff4136;
}
