/**
 * Hidden
 */

hr,
.video,
.map,
.photo,
.illustration,
.chart,
.table,
.audio,
.esarticletitle,
.espagenumber,
.nd {
  @include no-display();
}


/**
 * LESSONmaker styles
 */

.topiclist {
  background-color: #f0f8ff;
  border: solid #000080 1px;
  color: #000080;
  font: 0.9em "Verdana", "Arial", "Helvetica", sans-serif;
  margin: 0.625em 25%;
  padding: 0.313em;
  text-align: center;

  a,
  a:link,
  a:active,
  a:visited {
    color: #0000cd;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.star {
  font-size: 1em;
  position: absolute;
  left: 0.313em;
  color: #000080;
}

/**
 * Footer (for footnotes)
 */

.footer {
  border-top: 1px solid #cfcfcf;
  margin: 1.5em 0 0 0;
  padding: 1em 0 0 0;
}

/**
 * Glossary terms
 */

.gloss {
  color: #800000;
}

.glosstext {
  background-color: #ffff99;
  border: 1px #000 solid;
  color: #0000FF;
  font: 0.8em "Georgia", "Times New Roman", serif;
  padding: 0.125em;
  position: absolute;
  visibility: hidden;
}