// Defaults

$def-line: $lh-copy; // Default line height
$def-font: $type-scale-5; // Default font size
$def-ind : 1.5em; // Default text indent
$def-neg-ind: -$def-ind; // Default negative indent
$ballot-neg-ind: -1em;
$paren-neg-ind: -1.15em;
$paren-leftness: 0.15em;
$right-paren-neg-ind: -0.75em;
$paren-before-li: -0.4em;
$poetry-neg-ind: -0.5em;
$base-poem-ind: 1em;

img {
  border-style: none;
  max-width: 100%;
}