// Defaults

$def-line: $lh-copy; // Default line height
$def-font: $type-scale-5; // Default font size
$def-ind:  $spacing-large;  // Default text indent
$def-neg-ind: -$def-ind; // Default negative indent
