@mixin title-basic() {
  display: block;
  text-align: center;
  text-indent: 0;
}

@mixin title-bold($fs, $tm) {
  display: block;
  font: bold $fs $sans-font;
  margin: $tm 0 0 0;
  @include title-basic();
}

img {
  border-style: none;
}

.volumetitlehidden {
  display: none;
  visibility: hidden;
}

.settitle {
  @include title-bold($type-scale-3, $spacing-large);
}

.volumetitle,
.booktitle {
  @include title-bold($type-scale-2, $spacing-large);
}

.subtitle {
  @include title-bold($type-scale-3, $spacing-small);
}

.byline {
  @include title-bold($type-scale-5, $spacing-small);
}

.author {
  @include title-bold($type-scale-4, $spacing-small);
}

.coverimg {
  margin: $spacing-medium 0;
  @include title-basic();
  img {
    border: 1px solid #000;
  }
}

.copyright {
  font-size: $type-scale-6;
  margin: $spacing-medium 0 0 0;
  @include title-basic();
}

.wslogo,
.publogo {
  margin: $spacing-large 0;
  @include title-basic();
  img {
    border: 0;
  }
  a {
    text-decoration: none;
  }
}