/*
 *  VERSION: 20161019
 *  See ../../../META-INF/FONT_LICENSES for Font Software license information.
 */

@font-face {
  font-family: "WS Extra";
  src: url("../fonts/wsextra-webfont.woff2") format("woff2"),
       url("../fonts/wsextra-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gentium Plus";
  src: url("../fonts/GentiumPlus-R.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gentium Plus";
  src: url("../fonts/GentiumPlus-I.woff") format("woff");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Ezra SIL";
  src: url("../fonts/SILEOT.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "New Athena Unicode";
  src: url("../fonts/newathu5.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GFS Decker";
  src: url("../fonts/GFSDecker.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-Italic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-BoldItalic.otf") format("opentype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../fonts/AlegreyaSans-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../fonts/AlegreyaSans-Italic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../fonts/AlegreyaSans-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../fonts/AlegreyaSans-MediumItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../fonts/AlegreyaSans-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../fonts/AlegreyaSans-LightItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 300;
}