/*!
 * VERSION: 2020-03-05 | CROSS | Paragraph Mode
 *
 * A paragraph mode stylesheet for CROSS Bibles
 */
.biblechapter p {
  margin-right: 0.15em;
}
.biblechapter .versecontent {
  display: block;
  padding-right: 0.15em;
}
.biblechapter .dib.poem1,
.biblechapter .dib.poem2,
.biblechapter .dib.poem3,
.biblechapter .dib.poem4,
.biblechapter .dib.poem5,
.biblechapter .dib.poem6,
.biblechapter .dib.poem7,
.biblechapter .dib.poem8,
.biblechapter .dib.poem9,
.biblechapter .dib.poem10 {
  padding-left: 1.5em;
  text-indent: 0;
}

.scripture,
.versemode {
  display: none !important;
}
