/*!
 * VERSION: 2019-09-24 | CROSS | Paragraph Mode
 *
 * A paragraph mode stylesheet for CROSS Bibles
 */
.biblechapter p.dib.poem1,
.biblechapter p.dib.poem2,
.biblechapter p.dib.poem3,
.biblechapter p.dib.poem4,
.biblechapter p.dib.poem5,
.biblechapter p.dib.poem6,
.biblechapter p.dib.poem7,
.biblechapter p.dib.poem8,
.biblechapter p.dib.poem9,
.biblechapter p.dib.poem10 {
  padding-left: 1.5em;
  text-indent: 0;
}

.scripture,
.versemode {
  display: none !important;
}
