/*!
 * VERSION: 2020-03-05 | CROSS | Verse Mode
 *
 * A verse mode stylesheet for CROSS Bibles
 */
.biblechapter div, .biblechapter p, .biblechapter .versecontent {
  display: inline;
  margin: 0;
  padding: 0;
  text-indent: 0;
}
.biblechapter .h1sub, .biblechapter .h2sub, .biblechapter .h3sub {
  margin: -0.25em 0 0.5em 0;
  padding-top: 0.75em;
  display: block;
}

.scripture {
  display: block !important;
  margin: 0;
  border: 0;
}

.versemode {
  display: inline;
}
