@charset "UTF-8";
/*!*
* FILE:     verse.css
* VERSION:  2017-03-31
* AUTHOR:   Weston Littrell
*/
body { font: normal normal 100% "Georgia", "Times New Roman", serif; margin: 0 5%; }
p { line-height: 1.5em; font-size: 1em; margin: 0; text-align: justify; text-indent: 25px; }
a { color: #0099ff; text-decoration: none; }
body *, tr { display: inline; margin: 0; padding: 0; text-indent: 0; }
img { border-style: none; }
.volumetitlehidden { display: none; visibility: hidden; }
.settitle { display: block; font: bold 1.4em "Verdana", "Arial", "Helvetica", sans-serif; margin: 1.5em 0 0 0; display: block; text-align: center; text-indent: 0; }
.volumetitle, .booktitle { display: block; font: bold 2.1em "Verdana", "Arial", "Helvetica", sans-serif; margin: 1.5em 0 0 0; display: block; text-align: center; text-indent: 0; }
.subtitle { display: block; font: bold 1.4em "Verdana", "Arial", "Helvetica", sans-serif; margin: 0.5em 0 0 0; display: block; text-align: center; text-indent: 0; }
.byline { display: block; font: bold 1.1em "Verdana", "Arial", "Helvetica", sans-serif; margin: 0.5em 0 0 0; display: block; text-align: center; text-indent: 0; }
.author { display: block; font: bold 1.3em "Verdana", "Arial", "Helvetica", sans-serif; margin: 0.5em 0 0 0; display: block; text-align: center; text-indent: 0; }
.coverimg { margin: 1em 0; display: block; text-align: center; text-indent: 0; }
.coverimg img { border: 1px solid #000; }
.copyright { font-size: 0.8em; margin: 1em 0 0 0; display: block; text-align: center; text-indent: 0; }
.wslogo, .publogo { margin: 1.5em 0; display: block; text-align: center; text-indent: 0; }
.wslogo img, .publogo img { border: 0; }
.wslogo a, .publogo a { text-decoration: none; }
h1 { font: normal bold 1.3em "Verdana", "Arial", "Helvetica", sans-serif; margin: 1em 0; clear: both; display: block; text-indent: 0; text-align: center; }
h2, .h2 { font: normal bold 1.15em "Verdana", "Arial", "Helvetica", sans-serif; margin: 1em 0 0.5em 0; clear: both; display: block; text-indent: 0; text-align: center; }
h3, .h3 { font: normal bold 1.1em "Verdana", "Arial", "Helvetica", sans-serif; margin: 1em 0 0.5em 0; clear: both; display: block; text-indent: 0; text-align: left; }
h4, .h4 { font: italic bold 1em "Verdana", "Arial", "Helvetica", sans-serif; margin: 1em 0 0.5em 0; clear: both; display: block; text-indent: 0; text-align: left; }
h5, .h5 { font: normal bold 0.95em "Verdana", "Arial", "Helvetica", sans-serif; margin: 1em 0 0.5em 0; clear: both; display: block; text-indent: 0; text-align: left; }
h6, .h6 { font: italic bold 0.9em "Verdana", "Arial", "Helvetica", sans-serif; margin: 1em 0 0.5em 0; clear: both; display: block; text-indent: 0; text-align: left; }
.h1sub { font: normal bold 1.15em "Verdana", "Arial", "Helvetica", sans-serif; color: #4c4e4f; margin: -0.3em 0 0.5em 0; clear: both; display: block; text-indent: 0; text-align: center; }
.h2sub { font: normal bold 1.1em "Verdana", "Arial", "Helvetica", sans-serif; color: #4c4e4f; margin: -0.3em 0 0.5em 0; clear: both; display: block; text-indent: 0; text-align: center; }
.h3sub { font: italic bold 1em "Verdana", "Arial", "Helvetica", sans-serif; color: #4c4e4f; margin: -0.3em 0 0.5em 0; clear: both; display: block; text-indent: 0; text-align: left; }
.bridgehead { font: normal bold 1.1em "Verdana", "Arial", "Helvetica", sans-serif; margin: 0 0 0.75em 0; clear: both; display: block; text-indent: 0; text-align: center; }
sub { top: 0.2em; position: relative; vertical-align: baseline; }
sup { top: -0.2em; position: relative; vertical-align: baseline; }
hr { display: none !important; visibility: hidden; }
.dictterm { color: #000080; font: bold 1.15em "Verdana", "Arial", "Helvetica", sans-serif; text-align: left; text-indent: 0; }
.esstrongs { color: #006400; font: 0.9em "Verdana", "Arial", "Helvetica", sans-serif; }
.float-right { float: right; margin: 0.7em 1.1em; max-width: 19em; width: 19em; }
.float-left { float: left; margin: 0.7em 1.1em; max-width: 19em; width: 19em; }
.figure { text-align: center; }
.figcaption { font-size: 0.85em; font-style: italic; font-weight: normal; text-align: center; text-indent: 0; }
.full-width { max-width: 555px; width: 90%; margin: 1.2em 5%; }
.full-width img { margin: 0 5%; }
.scriptext { border: none; font-size: 1em; font-style: italic; margin: 0; padding: 0; }
hr, .video, .map, .photo, .illustration, .chart, .table, .audio, .esarticletitle, .espagenumber, .nd { display: none !important; visibility: hidden; }
.topiclist { background-color: #f0f8ff; border: solid #000080 1px; color: #000080; font: 0.9em "Verdana", "Arial", "Helvetica", sans-serif; margin: 0.625em 25%; padding: 0.313em; text-align: center; }
.topiclist a, .topiclist a:link, .topiclist a:active, .topiclist a:visited { color: #0000cd; text-decoration: none; }
.topiclist a:hover { text-decoration: underline; }
.star { font-size: 1em; position: absolute; left: 0.313em; color: #000080; }
.footer { border-top: 1px solid #cfcfcf; margin: 1.5em 0 0 0; padding: 1em 0 0 0; }
.gloss { color: #800000; }
.glosstext { background-color: #ffff99; border: 1px #000 solid; color: #0000FF; font: 0.8em "Georgia", "Times New Roman", serif; padding: 0.125em; position: absolute; visibility: hidden; }
ol, ul { list-style-type: none; }
.bold, .bold-italic { font-weight: bold; }
.italic, .bold-italic { font-style: italic; }
.large { font-size: 3em; }
.small { font-size: 0.8em; }
.smcaps { font-variant: small-caps; }
.strikeout { text-decoration: line-through; }
.underline { text-decoration: underline; }
.fn { color: #000; font: normal normal 0.6em "Verdana", "Arial", "Helvetica", sans-serif; position: relative; vertical-align: 0.7em; }
.fntext { color: #0000ff; display: none; font-size: 0.8em; font-variant: normal; }
.versenum { margin-right: .15em; vertical-align: super; font-size: .80em; font-weight: bold; }
.selah { padding-left: 10em; font-style: italic; }
.bookname { font: normal bold 1.3em "Verdana", "Arial", "Helvetica", sans-serif; margin: 1em 0; clear: both; display: block; text-indent: 0; text-align: center; }
.scripture { display: block !important; margin: 0; border: 0; }
.versemode { display: inline; }
.JesusWords { color: red; }
.wsextra {  font: 1.1em "WS Extra"; font-style: normal; font-weight: normal; }
.lang, .lang-grc, .translit {  font-family: "Gentium Plus", "Gentium", "Charis SIL", serif; font-style: italic; }
.lang-hbo {  font-family: "Ezra SIL"; font-style: normal; font-weight: normal; }
