/**
 * Footer (for footnotes)
 */

footer {
  border-top: 1px solid #cfcfcf;
  margin: 1.5em 0 0 0;
  padding: 1em 0 0 0;
}


/**
 * Index terms
 */

span {
  &[epub|type~=index-term],
  &[epub\:type~=index-term] {
    padding: 0 0.3em 0 0;
  }
}


/**
 * Footnote divs
 */

div {
  &[epub|type~=footnote] p,
  &[epub\:type~=footnote] p {
    margin-left: 2em;
    text-align: left;
    text-indent: -2em;
  }
}