/**
 * Dictionary Article
 */

article {
  margin: $spacing-large 0;

  dfn {
    color: $dark-blue;
    display: inline-block;
    font: normal bold $type-scale-3 $sans-font;
    padding: 0 0 $spacing-medium 0;
    @include heading-left();
  }
}


/**
 * Footer (for footnotes)
 */

footer {
  border-top: 1px solid $moon-gray;
  margin: $spacing-large 0 0 0;
  padding: $spacing-medium 0 0 0;
}
