// Defaults

$def-line: $lh-copy; // Default line height
$def-font: $type-scale-5; // Default font size
$def-ind:  1.5rem;  // Default text indent
$def-neg-ind: -$def-ind; // Default negative indent
$paren-neg-ind: -1.15rem;
$paren-leftness: 0.15rem;
$right-paren-neg-ind: -0.75rem;
$paren-before-li: -0.4rem;
$poetry-neg-ind: -0.5rem;
$base-poem-ind: 1rem;

img {
  border-style: none;
  max-width: 100%;
  width: 100%;
}