/*!*
 * See META-INF/FONT_LICENSES in this EPUB package
 * for Font Software license information.
 */

@font-face {
  font-family: "ws extra";
  src: url("../fonts/wsextra.otf");
  src: url("../fonts/wsextra.otf?#iefix") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "gentium plus";
  src: url("../fonts/GentiumPlus-R.woff");
  src: url("../fonts/GentiumPlus-R.woff?#iefix") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "gentium plus";
  src: url("../fonts/GentiumPlus-I.woff");
  src: url("../fonts/GentiumPlus-I.woff?#iefix") format("woff");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "ezra sil";
  src: url("../fonts/SILEOT.woff");
  src: url("../fonts/SILEOT.woff?#iefix") format("woff");
  font-style: normal;
  font-weight: normal;
}
