section {
  &[epub|type~=copyright-page],
  &[epub\:type~=copyright-page] {
    margin: $spacing-medium $spacing-extra-large;
  }

  &[epub|type~=cover] img,
  &[epub\:type~=cover] img,
  &[epub|type~=titlepage] img,
  &[epub\:type~=titlepage] img {
    display: block;
    margin: 0 auto $spacing-large auto;
    max-width: 555px;
  }

  &[epub|type~=index-group] ul,
  &[epub\:type~=index-group] ul {
    list-style-type: none;
    padding: 0 $spacing-extra-large;
    text-indent: $def-neg-ind;
  }
}