/*!
 * VERSION: 2020-02-07 | CROSS | Paragraph Mode
 *
 * A paragraph mode stylesheet for CROSS Bibles
 */

// May need to be updated with additional styles
// as new Bibles are developed

// This scss version is a developer document and should
// be compiled and minified for production environments.

.biblechapter {
  p.dib.poem1,
  p.dib.poem2,
  p.dib.poem3,
  p.dib.poem4,
  p.dib.poem5,
  p.dib.poem6,
  p.dib.poem7,
  p.dib.poem8,
  p.dib.poem9,
  p.dib.poem10 {
    padding-left: 1.5em;
    text-indent: 0;
  }
}

.scripture,
.versemode {
  display: none !important;
}

