/*!*
 * FILE:     verse.css
 * VERSION:  2017-06-02
 * AUTHOR:   Weston Littrell
 */
/**
 * A refactor of legacy WORDsearch CSS, based on mywsb.css,
 * written (mostly) to this standard: http://cssguidelin.es/.
 *
 * verse.css acts as the verse mode stylesheet for CROSS Bibles
 * converted from EPUB by the B&H Direct eBook Development team.
 *
 * This version is a developer document and should be compiled and
 * minified for production environments.
 */





/*------------------------------------*\
  #CONTENTS
\*------------------------------------*/
/**
 * GLOBAL...............Globally-available variables.
 *
 * MAIN.................Set up our document defaults.
 * TITLE-PAGE...........Title page styles.
 * HEADINGS.............h1–h6 and other headings styles.
 * INLINE-ELEMENTS......HTML inline element styles.
 *
 * FIGURES..............Figures and related helper classes.
 * QUOTES...............Block quotes and pull quotes.
 * BLOCKS...............Other type-associated blocks.
 *
 * TEXT-GENERAL.........Classes for basic formatting of text.
 * TEXT-TYPES...........Classes for specific types of content.
 * LANGUAGES............Styling for language elements and classes.
 */





/*------------------------------------*\
 #GLOBAL
\*------------------------------------*/

$def-line: 1.5em; // Default line height
$def-font: 1em;   // Default font size
$def-ind:  25px;   // Default text indent
$serif-font: "Georgia", "Times New Roman", serif;
$sans-font:  "Verdana", "Arial", "Helvetica", sans-serif;
$lang-font:  "Gentium Plus", "Gentium", "Charis SIL", serif;





/*------------------------------------*\
  #MAIN
\*------------------------------------*/

@import "includes/shared/main";

body *,
tr {
  display: inline;
  margin: 0;
  padding: 0;
  text-indent: 0;
}





/*------------------------------------*\
  #TITLE-PAGE
\*------------------------------------*/

@import "includes/ws/titlepage";





/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

$h1-margin: 1em 0;
$h2-margin: 1em 0 0.5em 0;
$lower-level-margin: $h2-margin;
$subheading-margin: -0.3em 0 0.5em 0;
$bridgehead-margin:  0 0 0.75em 0;
$subheading-color: #4c4e4f;

$level-1-font: normal bold 1.3em $sans-font;
$level-2-font: normal bold 1.15em $sans-font;
$level-3-font: normal bold 1.1em $sans-font;
$level-4-font: italic bold 1em $sans-font;
$level-5-font: normal bold 0.95em $sans-font;
$level-6-font: italic bold 0.9em $sans-font;

@import "includes/shared/headings";


/**
 * .bridgehead for use with <p>
 */

.bridgehead {
  @include bridgehead(); //from shared/headings
}





/*------------------------------------*\
  #INLINE-ELEMENTS
\*------------------------------------*/

/**
 * Not all inline elements from mywsb.css translate to inline
 * elements in CROSS, but they remain here for consistency.
 */

@import "includes/shared/inline";

.dictterm {
  @include dictionary-term();
}

.esstrongs {
  @include strongs();
}





/*------------------------------------*\
  #FIGURES
\*------------------------------------*/

@import "includes/shared/figures";

.figure {
  @include figure-decs();
}

.figcaption {
  @include figcap-decs();
}

.full-width {
  @include figure-full();
  margin: $fallback-margin;

  img {
    margin: 0 5%;
    width: 100%;
  }
}

/*
 * Classes for use with figure
 */

.float-right {
  float: right;
  @include figure-float();

  img {
    width: 100%;
  }
}

.float-left {
  float: left;
  @include figure-float();

  img {
    width: 100%;
  }
}





/*------------------------------------*\
  #QUOTES
\*------------------------------------*/

.scriptext {
  border: none;
  font-size: 1em;
  font-style: italic;
  margin: 0;
  padding: 0;
  .italic {
    font-style: normal;
  }
}





/*------------------------------------*\
  #BLOCKS
\*------------------------------------*/

@import "includes/ws/blocks";

ol,
ul {
  list-style-type: none;
}





/*------------------------------------*\
  #TEXT-GENERAL
\*------------------------------------*/

@import "includes/shared/text-inline";





/*------------------------------------*\
  #TEXT-TYPES
\*------------------------------------*/

$fn-size: 0.6em;
$fn-color: #000;

@import "includes/shared/fn";
@import "includes/shared/bibles";

.scripture {
  display: block !important;
  margin: 0;
  border: 0;
}

.versemode {
  display: inline;
}

.JesusWords {
	color: red;
}





/*------------------------------------*\
  #LANGUAGES
\*------------------------------------*/

@import "includes/shared/languages";
