/*!
 * VERSION: 2020-02-10 | CROSS | Verse Mode
 *
 * A verse mode stylesheet for CROSS Bibles
 */

// May need to be updated with additional styles
// as new Bibles are developed

// This scss version is a developer document and should
// be compiled and minified for production environments.

.biblechapter {
  font-size: 100%;
  div, p {
    display: inline;
    margin: 0;
    padding: 0;
    text-indent: 0;
  }
  p {
    margin-right: 0.15em;
  }
  .h1sub, .h2sub, .h3sub {
    margin: -0.25em 0 0.5em 0;
    padding-top: 0.75em;
    display: block;
  }
}

.scripture {
  display: block !important;
  margin: 0;
  border: 0;
}

.versemode {
  display: inline;
}
