/*!*
 * FILE:     wordsearch.css
 * VERSION:  2017-03-30
 * AUTHOR:   Weston Littrell
 */
/**
 * A refactor of legacy WORDsearch CSS, based on mywsb.css,
 * written (mostly) to this standard: http://cssguidelin.es/.
 *
 * wordsearch.css acts as the default stylesheet for all CROSS files
 * converted from EPUB by the B&H Direct eBook Development team.
 *
 * This version is a developer document and should be compiled and
 * minified for production environments.
 */





/*------------------------------------*\
  #CONTENTS
\*------------------------------------*/
/**
 * GLOBAL...............Globally-available variables.
 *
 * MAIN.................Set up our document defaults.
 * TITLE-PAGE...........Title page styles.
 * HEADINGS.............h1–h6 and other headings styles.
 * INLINE-ELEMENTS......HTML inline element styles.
 *
 * ASIDES...............Aside styles.
 * FIGURES..............Figures and related helper classes.
 * LISTS................List styles.
 * TABLES...............Table styles.
 * VIDEOS...............Video and video glyph styles.
 * QUOTES...............Block quotes and pull quotes.
 * BLOCKS...............Other type-associated blocks.
 *
 * TEXT-GENERAL.........Classes for basic formatting of text.
 * TEXT-TYPES...........Classes for specific types of content.
 * LANGUAGES............Styling for language elements and classes.
 *
 * WIDTHS...............Simple grid-like width classes.
 * OVERRIDES............Media queries and other overrides.
 */





/*------------------------------------*\
 #GLOBAL
\*------------------------------------*/

$def-line: 1.5em; // Default line height
$def-font: 1em;   // Default font size
$def-ind:  2em;   // Default text indent
$serif-font: "Georgia", "Times New Roman", serif;
$sans-font:  "Verdana", "Arial", "Helvetica", sans-serif;
$lang-font:  "Gentium Plus", "Gentium", "Charis SIL", serif;





/*------------------------------------*\
  #MAIN
\*------------------------------------*/

@import "includes/shared/main";





/*------------------------------------*\
  #TITLE-PAGE
\*------------------------------------*/

@import "includes/ws/titlepage";





/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

$h1-margin: 1em 0;
$h2-margin: 1em 0 0.5em 0;
$lower-level-margin: $h2-margin;
$subheading-margin: -0.3em 0 0.5em 0;
$bridgehead-margin:  0 0 0.75em 0;
$subheading-color: #4c4e4f;

$level-1-font: normal bold 1.3em $sans-font;
$level-2-font: normal bold 1.15em $sans-font;
$level-3-font: normal bold 1.1em $sans-font;
$level-4-font: italic bold 1em $sans-font;
$level-5-font: normal bold 0.95em $sans-font;
$level-6-font: italic bold 0.9em $sans-font;

@import "includes/shared/headings";


/**
 * .bridgehead for use with <p>
 */

.bridgehead {
  @include bridgehead(); //from shared/headings
}


/**
 * Part title, for use with <p>
 */

.part {
  background: #333;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin: -1em -5.5% 1em -5.5%;
  padding: 1.4em 0 1em 0;
  text-align: center;
  text-indent: 0;
}





/*------------------------------------*\
  #INLINE-ELEMENTS
\*------------------------------------*/

/**
 * Not all inline elements from mywsb.css translate to inline
 * elements in CROSS, but they remain here for consistency.
 */

@import "includes/shared/inline";

.dictterm {
  @include dictionary-term();
}

.esstrongs {
  @include strongs();
}





/*------------------------------------*\
  #ASIDES
\*------------------------------------*/

@import "includes/shared/asides";

aside {
  .bridgehead {
    @include aside-bridge();
  }
}





/*------------------------------------*\
  #FIGURES
\*------------------------------------*/

@import "includes/shared/figures";

.figure {
  @include figure-decs();
}

.figcaption {
  @include figcap-decs();
}

.full-width {
  @include figure-full();
  margin: $fallback-margin;

  img {
    margin: 0 5%;
  }
}





/*------------------------------------*\
  #LISTS
\*------------------------------------*/

@mixin list-layout() {
  margin-top: 1em;
  margin-bottom: 1em;
}

@import "includes/shared/lists";

@include list-items(0.2em 0);
@include none-list-items(2em, -1em);

@import "includes/shared/list-helpers";
@import "includes/shared/def-lists";




/*------------------------------------*\
  #TABLES
\*------------------------------------*/

$offset-color: #d3d3d3;


/*
 * Table container
 */

.container {
  overflow: auto;
}

/*
 * Tables
 */

@import "includes/shared/tables";

table {
  @include def-table();
  page-break-inside: avoid !important;
  width: 100%;
}

tr {
  page-break-inside: avoid !important;
}

th {
  @include def-cell();
  text-align: center;
}

td {
  @include def-cell();
  vertical-align: top;
}

.center table {
  margin: 1em auto;
}





/*------------------------------------*\
  #VIDEOS
\*------------------------------------*/

@import "includes/shared/video";

.poster {
  @include video-def();
  width: 80%;
}

.video-glyph {
  @include glyph-def();
}





/*------------------------------------*\
  #QUOTES
\*------------------------------------*/

@import "includes/shared/quotes";





/*------------------------------------*\
  #BLOCKS
\*------------------------------------*/

@import "includes/ws/blocks";





/*------------------------------------*\
  #TEXT-GENERAL
\*------------------------------------*/

@import "includes/shared/text-block";
@import "includes/shared/text-inline";





/*------------------------------------*\
  #TEXT-TYPES
\*------------------------------------*/

$fn-size: 0.6em;
$fn-color: #ff0000;

@import "includes/shared/text-types";





/*------------------------------------*\
  #LANGUAGES
\*------------------------------------*/

@import "includes/shared/languages";





/*------------------------------------*\
  #WIDTHS
\*------------------------------------*/

@import "includes/shared/widths";





/*------------------------------------*\
  #OVERRIDES
\*------------------------------------*/

@import "includes/shared/overrides";