aside {
  border:  1px solid $gray;
  margin:  $spacing-large 0;
  padding: $spacing-medium $spacing-large;

  p {
    margin: $spacing-extra-small 0 0 0;
    text-indent: 0;
  }

  blockquote {
    border: none !important;
  }

  ol, ul {
    padding-left: $spacing-large;
  }

  .bh {
    border-bottom: 1px solid $silver;
    margin: 0 0 $spacing-small 0;
    padding: 0 0 $spacing-extra-small 0;
  }
}