.versenum {
  margin-right: $spacing-extra-small;
  font-weight: bold;
}

.selah {
  padding-left: $spacing-extra-extra-extra-large;
  font-style: italic;
}

.bookname {
  font: $level-1-font;
  margin: $h1-margin;
  @include heading-center();
}