.versenum,
.nonversenum {
  @include sub-sup(-0.4em);
  margin-right: 0.15em;
  font-weight: bold;
}

.selah {
  padding-left: $spacing-extra-extra-extra-large;
  font-style: italic;
}

.bookname {
  font: $level-1-font;
  margin: $h1-margin;
  @include heading-center();
}