/*
 * Definition lists
 */

dt {
  clear: both;
  padding: 0 0 $spacing-medium 0;
  text-align: center;

  dfn {
    font: normal bold $def-font/$def-line $sans-font;
  }
}

dd {
  margin: 0;
  padding: 0 0 $spacing-large 0;

  p {
    text-indent: 0;
  }
}

.abbr-list {
  padding: 0 0 0 $def-ind;

  dt {
    clear: left;
    float: left;
    padding: 0;
    text-align: left;
    width: 20%;
    dfn {
      font: normal normal $def-font/$def-line $sans-font;
    }
  }

  dd {
    float: left;
    padding: 0 $spacing-extra-small;
    width: 75%;
  }

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}