@mixin figure-decs() {
  text-align: center;
}

@mixin figcap-decs() {
  font-size: 0.85em;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  text-indent: 0;
}

$full-width:  90%;
$float-width: 19em;

@mixin figure-full() { // Mixin also used in media query
  margin: 1.2em 5%;
  max-width: 555px;
  width: $full-width;
}

@mixin figure-float() {
  margin: 0.7em 1.1em;
  max-width: $float-width;
  width: $float-width;
}

/*
 * Classes for use with figure
 */

.full-width {
  @include figure-full();
}

.float-right {
  float: right;
  @include figure-float();
}

.float-left {
  float: left;
  @include figure-float();
}