/**
 * Footnote indicator, for use with <sup>
 */

.fn {
  color: $fn-color;
  font: normal normal $fn-size $sans-font;
  position: relative;
  vertical-align: 0.7em;
}

/**
 * Footnote text
 */

.fntext {
  color: #0000ff;
  display: none;
  font-size: 0.8em;
  font-variant: normal;
}