// mixins

@mixin strongs() {
  color: $green;
  font: $type-scale-6 $sans-font;
}

@mixin no-display() {
  display: none !important;
}

@mixin mywsb-scripture-ref() {
  border-bottom: 1px dashed $black;
  color: $black;
  font-weight: normal;
  margin-bottom: -1px;
}

@mixin dictionary-term() {
  color: $blue;
  font: bold $def-font $sans-font;
  text-align: left;
  text-indent: 0;
}
