.lang,      /* All languages other than Hebrew and Greek */
.translit { /* All transliterations */
  font-family: $lang-font;
  font-style: italic;
  .italic,
  .i {
    font-style: normal;
  }
}

.lang-grc {  /* Ancient Greek */
  font-family: $lang-font;
}

.lang-hbo { /* Ancient Hebrew */
  font-family: "ezra sil";
}
