// Mixins
@mixin list-layout() {
  margin: $spacing-medium 0 $spacing-medium 0;
  padding: 0 0 0 $spacing-extra-large;
}

@mixin sublist-layout() {
  margin: 0;
  padding: 0 0 0 $spacing-large;
}


/*
 * Ordered and unordered lists
 */

ol {
  @include list-layout();

  ul,
  ol {
    @include sublist-layout();
  }
}

ul {
  @include list-layout();

  ul,
  ol {
    @include sublist-layout();
  }
}

li {
  padding: $spacing-small 0 0 0;

  p {
    text-indent: 0;
  }
}
