/**
 * Poetry
 */

.poetry {
  margin: $spacing-medium 0 $spacing-medium $def-ind;
}

.poetry .poetry {
  margin: 0;
  padding-left: $def-ind;
}

.poetry p {
  margin-left: $def-ind;
  text-indent: -$def-ind;
}

@mixin poetry() {
  text-indent: $poetry-neg-ind;
}

@mixin poem-margin($num) {
  margin: 0 0 0 ($base-poem-ind + $num);
}

.poem1 {
  @include poem-margin(1);
  @include poetry();
}

.poem2 {
  @include poem-margin(2);
  @include poetry();
}

.poem3 {
  @include poem-margin(3);
  @include poetry();
}

.poem4 {
  @include poem-margin(4);
  @include poetry();
}

.poem5 {
  @include poem-margin(5);
  @include poetry();
}

.poem6 {
  @include poem-margin(6);
  @include poetry();
}

.poem7 {
  @include poem-margin(7);
  @include poetry();
}

.poem8 {
  @include poem-margin(8);
  @include poetry();
}

.poem9 {
  @include poem-margin(9);
  @include poetry();
}

.poem10 {
  @include poem-margin(10);
  @include poetry();
}
