/*
 * Block quotes
 */

blockquote {
  border-left: 1px dotted $black;
  margin-bottom: $spacing-small;
  margin-top: $spacing-small;
  padding-left: $spacing-medium;
  p {
    margin: $spacing-small 0;
    text-indent: 0;
  }
}

.scriptext {
  border: none;
  font-size: $type-scale-5;
  font-style: italic;
  margin: $spacing-medium $spacing-large;
  padding: 0;
  .italic,
  .i {
    font-style: normal;
  }
}


/*
 * Pull quotes
 */

@mixin pullquotes($marg, $wid) {
  border: none;
  font-size: $type-scale-6;
  letter-spacing: $type-scale-8;
  margin: $marg;
  max-width: $wid;
  padding: 0;
  width: $wid;
  text-transform: uppercase;

  p {
    text-indent: 0;
    text-align: left;
  }

  .sig {
    margin-left: 0;
    text-align: right;
  }
}

@mixin pullquote-center() {
  @include pullquotes($spacing-large $spacing-extra-large, 70%);
  display: block;
  float: none;
  text-align: center;
}

@mixin pullquote-float-ns($side) {
  float: $side;
  margin: $spacing-large;
  max-width: 30%;
  width: 30%;
}

.pull-center,
.pull-left,
.pull-right {
  @include pullquote-center();
}

@media #{$breakpoint-not-small} {
  .pull-left {
    @include pullquote-float-ns(left);
  }

  .pull-right {
    @include pullquote-float-ns(right);
  }
}
