/**
 * With block elements
 */

.br-before {
  padding: $spacing-medium 0 0 0;
}

.center {
  text-align: center !important;
  text-indent: 0;
}

.left {
  text-align: left !important;
}

.hang {
  margin-left: $def-ind;
  text-indent: $def-neg-ind;
}

.noind {
  text-indent: 0;
}

.right {
  text-align: right !important;
  text-indent: 0;
}