/**
 * With inline or block elements
 */

.bold {
  font-weight: bold;
  .bold {
    font-weight: normal;
  }
}

.italic {
  font-style: italic;
  .italic {
    font-style: normal;
  }
}

.large {
  font-size: $type-scale-1;
}

.small {
  font-size: $type-scale-7;
}

.smcaps {
  font-variant: small-caps;
}

.strikeout {
  text-decoration: line-through;
}
