/**
 * Chapter author"s name, for use with <p>
 */

.auth {
  font-size: $type-scale-4;
  font-weight: bold;
  margin: $spacing-small 0;
  text-align: center;
  text-indent: 0;
}


/**
 * Dedication lines, for use with <p>
 */

@mixin dedications() {
  font-size: $type-scale-6;
  font-style: italic;
  .italic,
  .i {
    font-style: normal;
  }
}

.ded1 {
  @include dedications();
  margin: $spacing-medium $spacing-extra-extra-large 0 $spacing-extra-extra-large;
}

.ded2 {
  @include dedications();
  margin: 0 $spacing-extra-extra-large;
}


/**
 * Quote or section "signature", for use with <p>
 */

.sig {
    text-align: left;
    position: absolute;
    right: 20px;
    margin-right: $spacing-extra-large;
}


/**
 * Verse number in Scripture quote, for use with <sup>
 */

.verse {
  font-size: $type-scale-6;
  font-weight: bold;
}
