@import "fn";

/**
 * Chapter author's name, for use with <p>
 */

.auth {
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em 0;
  text-indent: 0;
}


/**
 * Dedication lines, for use with <p>
 */

@mixin dedications() {
  font-size: 0.9em;
  font-style: italic;
  .italic {
    font-style: normal;
  }
}

.ded1 {
  @include dedications();
  margin: 1em 25% 0 25%;
}

.ded2 {
  @include dedications();
  margin: 0 25%;
}


/**
 * Quote or section 'signature', for use with <p>
 */

.sig {
  margin-bottom: 1em;
  margin-left: 60%;
  text-align: left;
  text-indent: 0;
}


/**
 * Verse number in Scripture quote, for use with <sup>
 */

.verse {
  font-size: 0.85em;
  font-weight: bold;
}
