/**
 * With block elements
 */

.br-before {
  padding-top: $spacing-large;
}

.center {
  text-align: center !important;
  text-indent: 0;
}

.left {
  text-align: left !important;
}

.hang {
  margin-left: $def-ind;
  text-indent: $def-neg-ind;
}

.noind, .nopad {
  padding-top: 0;
}

.right {
  text-align: right !important;
  text-indent: 0;
}

@mixin pad-left($num) {
  padding-left: $def-ind * $num
}

.ind1 {
  padding-left: $def-ind;
}

.ind2 {
  @include pad-left(2);
}

.ind3 {
  @include pad-left(3);
}

.ind4 {
  @include pad-left(4);
}

.ind5 {
  @include pad-left(5);
}

.ind6 {
  @include pad-left(6);
}

.ind7 {
  @include pad-left(7);
}