/**
 * With block elements
 */

.br-before {
  padding: 1.3em 0 0 0;
}

.center {
  text-align: center !important;
  text-indent: 0;
}

.hang {
  margin-left: $def-ind;
  text-indent: (-$def-ind);
}

.left {
  text-align: left !important;
}

.noind {
  text-indent: 0;
}

.right {
  text-align: right !important;
  text-indent: 0;
}


/**
 * With inline or block elements
 */

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.bold-italic {
  @extend .bold;
  @extend .italic;
}

.large {
  font-size: 3em;
}

.small {
  font-size: 0.8em;
}

.smcaps {
  font-variant: small-caps;
}

.strikeout {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}