// Video mixins
@mixin video-def() {
  background: $white;
  border: 1px solid $moon-gray;
  box-shadow: 0 0 3px rgba(1, 1, 1, 0.2), inset 0 0 100px rgba(1, 1, 1, 0.1);
  height: auto;
  margin: $spacing-large auto $spacing-medium auto;
  text-align: center;
  text-indent: 0;
}

@mixin glyph-def() {
  display: block;
  float: left;
  height: 50px;
  margin: 0 0.75em 2em 0;
  min-height: 50px;
  padding: 0;
  width: 50px;
}