.col-1 {
  max-width: 8.33%;
  width: 8.33%;
}

.col-2 {
  max-width: 16.66%;
  width: 16.66%;
}

.col-3 {
  max-width: 25%;
  width: 25%;
}

.col-4 {
  max-width: 33.33%;
  width: 33.33%;
}

.col-5 {
  max-width: 41.66%;
  width: 41.66%;
}

.col-6 {
  max-width: 50%;
  width: 50%;
}

.col-7 {
  max-width: 58.33%;
  width: 58.33%;
}

.col-8 {
  max-width: 66.66%;
  width: 66.66%;
}

.col-9 {
  max-width: 75%;
  width: 75%;
}

.col-10 {
  max-width: 83.33%;
  width: 83.33%;
}

.col-11 {
  max-width: 91.66%;
  width: 91.66%;
}

.col-12 {
  max-width: 100%;
  width: 100%;
}

.src-width {
  width: initial;
}

/*
 * DEPRECATED
 */

.width-10 {
  max-width: 10%;
  width: 10%;
}

.width-20 {
  max-width: 20%;
  width: 20%;
}

.width-30 {
  max-width: 30%;
  width: 30%;
}

.width-40 {
  max-width: 40%;
  width: 40%;
}

.width-50 {
  max-width: 50%;
  width: 50%;
}

.width-60 {
  max-width: 60%;
  width: 60%;
}

.width-70 {
  max-width: 70%;
  width: 70%;
}

.width-80 {
  max-width: 80%;
  width: 80%;
}

.width-90 {
  max-width: 90%;
  width: 90%;
}