
// Converted Variables


// Custom Media Query Variables


/*

   FONT FAMILY GROUPS
   Docs: http://tachyons.io/docs/typography/font-family/

*/


.sans-serif {
  font-family: $sans-font;
}

.serif {
  font-family: $serif-font;
}

.wsextra {
  font-family: "wsextra";
}

.gentiumplus {
  font-family: "gentium plus";
}

.ezra {
  font-family: "ezra sil";
}
