
// Converted Variables


// Custom Media Query Variables


/*

   FONT FAMILY GROUPS

*/


.sans-serif {
  font-family: $sans-font;
}

.serif {
  font-family: $serif-font;
}

.wsextra {
  font-family: "ws extra";
}

.gentiumplus {
  font-family: "gentium plus";
}

.ezra {
  font-family: "ezra sil";
}
