
// Converted Variables


// Custom Media Query Variables


/*

   LETTER SPACING
   Docs: http://tachyons.io/docs/typography/tracking/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.tracked       { letter-spacing:  $letter-spacing-tracked; }
.tracked-half  { letter-spacing:  $letter-spacing-half; }
.tracked-tight { letter-spacing:  $letter-spacing-tight; }
.tracked-mega  { letter-spacing:  $letter-spacing-mega; }

@media #{$breakpoint-not-small} {
  .tracked-ns       { letter-spacing:  $letter-spacing-tracked; }
  .tracked-half-ns  { letter-spacing:  $letter-spacing-half; }
  .tracked-tight-ns { letter-spacing:  $letter-spacing-tight; }
  .tracked-mega-ns  { letter-spacing:  $letter-spacing-mega; }
}

@media #{$breakpoint-medium} {
  .tracked-m       { letter-spacing:  $letter-spacing-tracked; }
  .tracked-half-m  { letter-spacing:  $letter-spacing-half; }
  .tracked-tight-m { letter-spacing:  $letter-spacing-tight; }
  .tracked-mega-m  { letter-spacing:  $letter-spacing-mega; }
}

@media #{$breakpoint-large} {
  .tracked-l       { letter-spacing:  $letter-spacing-tracked; }
  .tracked-half-l  { letter-spacing:  $letter-spacing-half; }
  .tracked-tight-l { letter-spacing:  $letter-spacing-tight; }
  .tracked-mega-l  { letter-spacing:  $letter-spacing-mega; }
}
