
// Converted Variables


// Custom Media Query Variables


/*

   MAX WIDTHS
   Docs: http://tachyons.io/docs/layout/max-widths/

   Base:
     mw = max-width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale
     6 = 6st step in width scale
     7 = 7nd step in width scale
     8 = 8rd step in width scale
     9 = 9th step in width scale

     -100 = literal value 100%

     -none  = string value none


   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Max Width Percentages */

.mw-10 {  max-width:  10%; }
.mw-20 {  max-width:  20%; }
.mw-25 {  max-width:  25%; }
.mw-30 {  max-width:  30%; }
.mw-33 {  max-width:  33%; }
.mw-34 {  max-width:  34%; }
.mw-40 {  max-width:  40%; }
.mw-50 {  max-width:  50%; }
.mw-60 {  max-width:  60%; }
.mw-70 {  max-width:  70%; }
.mw-75 {  max-width:  75%; }
.mw-80 {  max-width:  80%; }
.mw-90 {  max-width:  90%; }
.mw-100 { max-width: 100%; }

.mw-third { max-width: (100% / 3); }
.mw-two-thirds { max-width: (100% / 1.5); }
.mw-auto { max-width: auto; }
.mw-init { max-width: initial; }
.mw-555 { max-width: 555px; }


/* Max Width Scale */

.mw1  {  max-width: 1rem; }
.mw2  {  max-width: 2rem; }
.mw3  {  max-width: 4rem; }
.mw4  {  max-width: 8rem; }
.mw5  {  max-width: 16rem; }
.mw6  {  max-width: 32rem; }
.mw7  {  max-width: 48rem; }
.mw8  {  max-width: 64rem; }
.mw9  {  max-width: 96rem; }

/* Max Width String Properties */

.mw-none { max-width: none; }

@media #{$breakpoint-not-small} {
  .mw-10-ns {  max-width:  10%; }
  .mw-20-ns {  max-width:  20%; }
  .mw-25-ns {  max-width:  25%; }
  .mw-30-ns {  max-width:  30%; }
  .mw-33-ns {  max-width:  33%; }
  .mw-34-ns {  max-width:  34%; }
  .mw-40-ns {  max-width:  40%; }
  .mw-50-ns {  max-width:  50%; }
  .mw-60-ns {  max-width:  60%; }
  .mw-70-ns {  max-width:  70%; }
  .mw-75-ns {  max-width:  75%; }
  .mw-80-ns {  max-width:  80%; }
  .mw-90-ns {  max-width:  90%; }
  .mw-100-ns { max-width: 100%; }

  .mw-third-ns { max-width: (100% / 3); }
  .mw-two-thirds-ns { max-width: (100% / 1.5); }
  .mw-auto-ns { max-width: auto; }
  .mw-init-ns { max-width: initial; }

  .mw1-ns  {  max-width: 1rem; }
  .mw2-ns  {  max-width: 2rem; }
  .mw3-ns  {  max-width: 4rem; }
  .mw4-ns  {  max-width: 8rem; }
  .mw5-ns  {  max-width: 16rem; }
  .mw6-ns  {  max-width: 32rem; }
  .mw7-ns  {  max-width: 48rem; }
  .mw8-ns  {  max-width: 64rem; }
  .mw9-ns  {  max-width: 96rem; }

  .mw-none-ns { max-width: none; }
}

@media #{$breakpoint-medium} {
  .mw-10-m {  max-width:  10%; }
  .mw-20-m {  max-width:  20%; }
  .mw-25-m {  max-width:  25%; }
  .mw-30-m {  max-width:  30%; }
  .mw-33-m {  max-width:  33%; }
  .mw-34-m {  max-width:  34%; }
  .mw-40-m {  max-width:  40%; }
  .mw-50-m {  max-width:  50%; }
  .mw-60-m {  max-width:  60%; }
  .mw-70-m {  max-width:  70%; }
  .mw-75-m {  max-width:  75%; }
  .mw-80-m {  max-width:  80%; }
  .mw-90-m {  max-width:  90%; }
  .mw-100-m { max-width: 100%; }

  .mw-third-m { max-width: (100% / 3); }
  .mw-two-thirds-m { max-width: (100% / 1.5); }
  .mw-auto-m { max-width: auto; }
  .mw-init-m { max-width: initial; }

  .mw1-m  {  max-width: 1rem; }
  .mw2-m  {  max-width: 2rem; }
  .mw3-m  {  max-width: 4rem; }
  .mw4-m  {  max-width: 8rem; }
  .mw5-m  {  max-width: 16rem; }
  .mw6-m  {  max-width: 32rem; }
  .mw7-m  {  max-width: 48rem; }
  .mw8-m  {  max-width: 64rem; }
  .mw9-m  {  max-width: 96rem; }

  .mw-none-m { max-width: none; }
}

@media #{$breakpoint-large} {
  .mw-10-l {  max-width:  10%; }
  .mw-20-l {  max-width:  20%; }
  .mw-25-l {  max-width:  25%; }
  .mw-30-l {  max-width:  30%; }
  .mw-33-l {  max-width:  33%; }
  .mw-34-l {  max-width:  34%; }
  .mw-40-l {  max-width:  40%; }
  .mw-50-l {  max-width:  50%; }
  .mw-60-l {  max-width:  60%; }
  .mw-70-l {  max-width:  70%; }
  .mw-75-l {  max-width:  75%; }
  .mw-80-l {  max-width:  80%; }
  .mw-90-l {  max-width:  90%; }
  .mw-100-l { max-width: 100%; }

  .mw-third-l { max-width: (100% / 3); }
  .mw-two-thirds-l { max-width: (100% / 1.5); }
  .mw-auto-l { max-width: auto; }
  .mw-init-l { max-width: initial; }

  .mw1-l  {  max-width: 1rem; }
  .mw2-l  {  max-width: 2rem; }
  .mw3-l  {  max-width: 4rem; }
  .mw4-l  {  max-width: 8rem; }
  .mw5-l  {  max-width: 16rem; }
  .mw6-l  {  max-width: 32rem; }
  .mw7-l  {  max-width: 48rem; }
  .mw8-l  {  max-width: 64rem; }
  .mw9-l  {  max-width: 96rem; }

  .mw-none-l { max-width: none; }
}
