
// Converted Variables


// Custom Media Query Variables


/*

  STYLES

  Add custom styles here.

*/

.mw-555  { max-width: 555px; }
.neg-ind { text-indent: -1rem; }
.neg-ind-l { text-indent: -1.5rem }
.neg-ind-xl { text-indent: -2rem }
.brownish { color: #332400; }
.help { cursor: help; }
.tracked-half { letter-spacing:  0.05em; }
.b .b { font-weight: normal; }
.i .i { font-style: normal; }
.overline { text-decoration: overline; }
.nbsp-after::after { content: "\00a0"; }
.wsextra { font-family: 'wsextra'; }
.gentiumplus { font-family: 'gentiumplus'; }
.ezrasil { font-family: 'ezrasil'; }
.w-init { width: initial; }
.w-twelfth { width: (100% / 12); }
.w-sixth { width: (100% / 6); }
.w-five-twelfths { width: (100% / 2.4); }
.w-seven-twelfths { width: (50% + (100% / 12)); }
.w-five-sixths { width: (100% / 1.2); }
.w-eleven-twelfths { width: (100% - (100% / 12)); }
